In [1]:
from datetime import datetime

In [2]:
my_year = 2022
my_month = 7
my_day = 11
my_hour = 14
my_minute = 30
my_seconds = 50

In [3]:
my_date = datetime(my_year, my_month, my_day, my_hour, my_minute, my_seconds)
my_date

datetime.datetime(2022, 7, 11, 14, 30, 50)

In [4]:
my_date.day

11

In [5]:
import numpy as np

In [6]:
np.array(['2022-07-11', '2022-06-01'], dtype='datetime64')

array(['2022-07-11', '2022-06-01'], dtype='datetime64[D]')

To pass a different type of precision such as year, we can use 'Y'

In [7]:
np.array(['2022-07-11', '2022-06-01'], dtype='datetime64[Y]')

array(['2022', '2022'], dtype='datetime64[Y]')

A more precision like hour

In [8]:
np.array(['2022-07-11T13', '2022-06-01T14'], dtype='datetime64[h]')

array(['2022-07-11T13', '2022-06-01T14'], dtype='datetime64[h]')

In [12]:
np.arange('1995-07-11', '2022-07-11', step=7, dtype='datetime64[Y]')

array(['1995', '2002', '2009', '2016'], dtype='datetime64[Y]')

In [18]:
import pandas as pd

In [24]:
pd.date_range(start='1995-07-11', periods=7, freq='M')

DatetimeIndex(['1995-07-31', '1995-08-31', '1995-09-30', '1995-10-31',
               '1995-11-30', '1995-12-31', '1996-01-31'],
              dtype='datetime64[ns]', freq='M')

In [25]:
pd.date_range(start='1995-07-11', periods=7, freq='D')

DatetimeIndex(['1995-07-11', '1995-07-12', '1995-07-13', '1995-07-14',
               '1995-07-15', '1995-07-16', '1995-07-17'],
              dtype='datetime64[ns]', freq='D')

In [27]:
pd.date_range(start='Jan 01, 2017', periods=7, freq='M')

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31'],
              dtype='datetime64[ns]', freq='M')

In [22]:
pd.date_range(start='1995-07-11', end='2022-07-11', periods=7)

DatetimeIndex(['1995-07-11 00:00:00', '2000-01-09 16:00:00',
               '2004-07-10 08:00:00', '2009-01-09 00:00:00',
               '2013-07-10 16:00:00', '2018-01-09 08:00:00',
               '2022-07-11 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [28]:
pd.to_datetime(['11/07/2018', 'June 01, 1964'])

DatetimeIndex(['2018-11-07', '1964-06-01'], dtype='datetime64[ns]', freq=None)

In [36]:
pd.to_datetime(['11/07/2018', '01/06/1964'], format='%d/%m/%Y')

DatetimeIndex(['2018-07-11', '1964-06-01'], dtype='datetime64[ns]', freq=None)

In [44]:
data = np.random.randn(4,2)
cols = ['X', 'Y']
idx = pd.date_range('1995/07/11', periods=4, freq='Y')
df = pd.DataFrame(data, index=idx,columns=cols)
df

                   X         Y
1995-12-31  1.277997 -0.604354
1996-12-31 -0.091376  0.139838
1997-12-31 -1.414277  0.775581
1998-12-31 -0.419976  1.319914

In [45]:
df.index

DatetimeIndex(['1995-12-31', '1996-12-31', '1997-12-31', '1998-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [46]:
df.index.max()

Timestamp('1998-12-31 00:00:00', freq='A-DEC')

In [48]:
df.index.argmax()

3

In [51]:
df['X'][df.index[df.index.argmax()]]

-0.41997562406961186